body {
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/File_sorter/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color:aqua;
    letter-spacing: 2px;
    font-family: 'VT323', monospace;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.audio-player {
    height: 20px;
}